.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.cardContainer .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 80vh;
    width: 90vw;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContainer .card h2 {
    text-align: left;
    margin: 0px;
    font-size: 28px;
}

.cardContainer .card .body {
    display: flex;
    height: 100%;
    margin-top: 50px;
    gap: 50px;
}

.cardContainer .card .body .description {
    width: 40%;
    position: relative;
    top: 0;
}

.cardContainer .card .body .description p {
    font-size: 16px;
}

.cardContainer .card .body .description p::first-letter {
    font-size: 28px;
    font-family: 'Title';
}

.cardContainer .card .body .description span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cardContainer .card .body .description span a {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.cardContainer .card .body .imageContainer {
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.cardContainer .card .body .imageContainer .inner {
    width: 100%;
    height: 100%;
}

.cardContainer .card .body .imageContainer img {
    object-fit: cover;
}

.separator {
    height: 1px;
    background-color: gray;
    margin: 10px 0;
}

.cardContainer .card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.cardContainer .card .verticalLine {
    position: absolute;
    left: 1.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 0.1rem;
    overflow: hidden;
}

/* First card: 0-33% black */
.firstLine {
    height: 80%;
    background-color: gray;
}

.firstLine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 33.33%;
    width: 100%;
    background-color: black;
}

/* Second card: 0-33% gray, 33%-66% black, 66%-100% gray */
.secondLine {
    height: 80%;
    background-color: gray;
}

.secondLine::before {
    content: '';
    position: absolute;
    top: 33.33%;
    left: 0;
    height: 33.33%;
    width: 100%;
    background-color: black;
}

/* Third card: 0-66% gray, 66%-100% black */
.thirdLine {
    height: 80%;
    background-color: gray;
}

.thirdLine::before {
    content: '';
    position: absolute;
    top: 66.66%;
    left: 0;
    height: 33.33%;
    width: 100%;
    background-color: black;
}